<div class="logo">
  <img class="logo-img" src="/src/img/logo.png" alt="">
</div>

<div class="main-container">
  <div class="header">
    <div class="header__text">Выберите друзей</div>

    <button class="header__close-btn btn__close-add">
      <svg class="cross svg--white">
        <use xlink:href="/src/img/cross.svg#cross"></use>
      </svg>
    </button>

  </div>

  <div class="content">

    <div class="content__inputs">
      <div class="column column__left">
        <svg class="searcher-icon">
          <use xlink:href="/src/img/searcher.svg#searcher"></use>
        </svg>
        <input class="filter__input input" id="allFriendsSearch" data-bind ="all-friends" type="text" placeholder="Начните вводить имя друга"/>
      </div>

      <div class="column column__right">
        <svg class="searcher-icon">
          <use xlink:href="/src/img/searcher.svg#searcher"></use>
        </svg>
        <input class="filter__input input" id="filteredFriendsSearch" data-bind ="filtered-friends" type="text" placeholder="Начните вводить имя друга"/>
      </div>
    </div>

    <div class="content__friends">
      <div class="content__left column column__left">
        <div class="content__header">Ваши друзья</div>
        <div class="content__list-wrap">
          <ul class="content__list friends-container" data-bind ="all-friends"></ul>
        </div>
      </div>

      <div class="content__right column column__right">
        <div class="content__header">Друзья в списке</div>
        <div class="content__list-wrap">
          <ul class="content__list friends-list" data-bind ="filtered-friends"></ul>
        </div>
      </div>
    </div>

  </div>

  <div class="footer">
    <button class="footer__btn clear-btn">Обновить друзей и очистить списки</button>
    <button class="footer__btn save-btn">Сохранить</button>
  </div>

</div>

